
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.mb-10 {
  margin-bottom: 10px;
}

.ag-cell-centered { 
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding-top: 15px; */
}

.cafe-image {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-top: 5px;
}

.employees-link {
  color: #1890ff;
}
.employees-link:hover {
  color: #05355c;
}
